* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #1c1b3b;
    --secondary-color: blue;
    --text-color: #ffffff;
}

body {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    scrollbar-width: none;
}

.hero-section {
    background-image: url(/images/vector-cartoon-illustration-school-building-green-lawn-road-trees-educalion-l_134830-1588.avif);
    background-size: cover;
    height: 700px;
    /* position: relative; */
    /* background-position: center; */
}

.hero-section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(17, 15, 15, 0.4), rgba(25, 16, 16, 0.2));
    z-index: 2;
    /* overflow: hidden; */
}

.hero-section::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom,
            rgba(30, 30, 30, 0.55),
            rgba(60, 60, 60, 0.35),
            rgba(20, 20, 20, 0.6));
    z-index: 2;
}

.header {
    background: #0b3c5d;
    padding: 25px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    transition: transform 0.4s ease;
}

.header.hide {
    transform: translateY(-100%);
}

.container {
    /* max-width: 1200px; */
    margin: auto;
    padding: 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #fff;
}

.logo-icon {
    width: 50px;
    height: 50px;
    background: #f9b233;
    color: #0b3c5d;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: bold;
    border-radius: 8px;
}

.logo-text h1 {
    font-size: 20px;
}

.logo-text span {
    font-size: 12px;
    color: #dcdcdc;
}

.nav ul {
    display: flex;
    gap: 25px;
}

.nav a {
    color: #bfbfbf;
    text-decoration: none;
    font-size: 15px;
    position: relative;
}

.nav ul a:first-child {
    color: var(--text-color);
}

.nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: #f9b233;
    transition: 0.3s;
}

.nav a:hover::after {
    width: 100%;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.menu-toggle span {
    width: 25px;
    height: 3px;
    background: #fff;
}

.school-department {
    position: absolute;
    bottom: 5%;
    left: 5%;
    color: var(--text-color);
    z-index: 4;
}

.school-department p {
    font-size: 21px;
}

.school-department h2 {
    font-size: 48px;
}

.about-content-section {
    display: flex;
    gap: 10px;
}

.about-content-section {
    padding: 20px;
    padding-left: 80px;
    /* margin-left: 90px; */
}

.about-content-section a {
    color: #a0a0a0;
    font-size: 14px;
    text-decoration: none;
}

.about-content-section span {
    color: #a0a0a0;
    font-size: 14px;
}

.about-content-section p {
    color: var(--secondary-color);
}

.section1 {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
    flex-wrap: wrap;
    /* line-height: 40px; */
}

.shutter-stock img {
    /* max-width: 900px; */
    width: 100%;
    display: block;
}

.departmenu-box {
    background-color: #ededed;
    width: 430px;
    border-bottom: 3px solid blue;
    padding: 18px 22px;
    border-radius: 2px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.departmenu-box h4 {
    font-size: 16px;
    color: #383838;
    font-weight: 600;
}

.flex {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    line-height: 50px;
    /* justify-content: center; */
}

.department-menu hr {
    padding: 0.4px;
    background-color: var(--secondary-color);
    border: none;
}

.flex h3 {
    font-weight: 400;
    color: var(--primary-color);
    font-size: 16px;
}

.flex svg {
    height: 18px;
    /* margin-top: 10px; */
    position: relative;
    top: 5px;
}

.section2 {
    display: flex;
    justify-content: center;
    gap: 65px;
    /* flex-wrap: wrap; */
    padding: 0 83px;
}

.svg-container {
    display: flex;
    /* align-items: center; */
    gap: 10px;
    margin-top: 40px;
}

.svg-container span {
    max-width: 800px;
    color: #6b6b6b;
    font-size: 17px;
}

.hand-svg svg {
    height: 25px;
}

.section2-content h3 {
    color: #29315b;
    font-size: 24px;
    margin-top: 30px;
}

.section2-content h4 {
    font-size: 19px;
    color: #6b6b6b;
    font-weight: 500;
    max-width: 850px;
    margin-top: 30px;
    line-height: 30px;
}

.section2-content h2 {
    max-width: 940px;
    font-weight: 500;
    margin-top: 30px;
    font-size: 21px;
    line-height: 35px;
    color: var(--secondary-color);
}

.section2-content hr {
    padding: 1.3px;
    background-color: var(--secondary-color);
    border: none;
    max-width: 970px;
    margin-top: 30px;
}

.section2-content p {
    max-width: 850px;
    color: #6b6b6b;
    font-weight: 400;
    margin-top: 30px;
    font-size: 17px;
}

.form-box {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 50px 50px;
    width: 470px;
    height: 500px;
    /* line-height: 80px; */
}

.form-box h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.form-box p {
    max-width: 220px;
    line-height: 25px;
}

.form-box p:nth-of-type(2) {
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-box p:nth-of-type(3) {
    max-width: 300px;
    margin-bottom: 40px;
}

.form-box {
    margin-top: 20px;
}

.student-resource-btn {
    margin-top: 60px;
}

.principal-of-accounting {
    display: flex;
    flex-wrap: wrap;
}

.student-resource-btn a {
    background-color: var(--secondary-color);
    padding: 20px;
    text-decoration: none;
    color: var(--text-color);
    font-family: 'Poppins';
    border-radius: 3px;
    font-weight: 700;
    font-size: 15px;
}

.btn-container {
    display: flex;
    gap: 10px;
    margin-top: 50px;
    margin-top: 50px;
    flex-wrap: wrap;
}

.btn-container svg {
    height: 20px;
    color: var(--text-color);
}

.btn-container a {
    background-color: var(--secondary-color);
    padding: 10px 40px;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 700;
    border-radius: 3px;
    text-decoration: none;
}

.btn-container a {
    display: flex;
    align-items: center;
    gap: 10px;
}

.join-special-event {
    border: 5px solid blue;
    max-width: 430px;
    width: 100%;
    height: 340px;
    padding: 50px;
    display: block;
}

.join-special-event h2 {
    text-align: center;
}

.join-special-event h3 {
    text-align: center;
    margin-top: 5px;
}

.join-special-event p {
    text-align: center;
    max-width: 300px;
    margin: auto;
}

.principal-container {
    display: flex;
    gap: 95px;
    justify-content: center;
    flex-wrap: wrap;
}

.join-special-event .see-more a {
    color: var(--text-color);
    background-color: var(--secondary-color);
    padding: 20px 30px;
    display: block;
    max-width: 200px;
    margin: auto;
    margin-top: 30px;
    border-radius: 3px;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    font-size: 15px;
}

.join-special-event-content h2 {
    font-size: 17px;
    color: #9ba7bf;
    font-weight: 600;
}

.join-special-event h3 {
    font-size: 20px;
    color: #192f59;
}

.join-special-event p {
    font-size: 15px;
    color: #6b6b6b;
    margin-top: 20px;
}

.copy-right-container {
    display: flex;
    background-color: #2e2d2d;
    padding: 30px 110px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.copy-right-container p {
    color: #838383;
    font-size: 15px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    margin-top: 100px;
}

.footer-container {
    background-color: #181818;
    padding: 80px 0;
}

.our-campus ul {
    line-height: 30px;
    margin-top: 20px;
}

.our-campus hr {
    width: 300px;
}

.Academis h3 {
    color: var(--text-color);
    font-size: 17px;
    /* font-weight: 100; */
}

.Campus-life h3 {
    color: var(--text-color);
}

.Campus-life hr {
    width: 300px;
}

.Campus-life ul {
    margin-top: 20px;
    line-height: 35px;
}

.Academis hr {
    width: 300px;
    margin-top: 10px;
    background-color: var(--secondary-color);
    padding: 0.8px;
    border: none;
}

.Academis ul {
    margin-top: 20px;
    line-height: 35px;
}

.Academis ul li a {
    font-size: 16px;
}

.logo-content img {
    height: 50px;
}

.footer-container h3 {
    color: var(--text-color);
    font-size: 17px;
}

.box35300 {
    margin-top: 30px;
}

.box35300 ul {
    line-height: 30px;
}

.our-campus ul {
    line-height: 35px;
}

.admin p {
    margin-top: 10px;
    font-size: 15px;
}

.admin a {
    margin-top: 10px;
    display: block;
    font-size: 15px;
}

.our-campus hr {
    background-color: var(--secondary-color);
    border: none;
    padding: 0.8px;
    margin-top: 10px;
}

.Campus-life hr {
    background-color: var(--secondary-color);
    padding: 0.8px;
    border: none;
    margin-top: 10px;
}

.footer-container ul li {
    color: var(--text-color);
    list-style-type: none;
    color: #8d8d8d;
}

.footer-container ul li a {
    color: var(--text-color);
    text-decoration: none;
    color: #8d8d8d;
}

.admin p {
    color: var(--text-color);
}

.admin a {
    color: var(--text-color);
    text-decoration: none;
}

.admin hr {
    background-color: var(--secondary-color);
    padding: 0.8px;
    border: none;
    /* max-width: 340px; */
    margin-top: 20px;
}

.icons {
    display: flex;
    gap: 20px;
}

.icons svg {
    height: 22px;
}

.course-curriculum-container {
    max-width: 870px;
    /* margin: auto; */
    margin-left: 90px;
    margin-top: 60px;
    /* padding: 40px 0px; */
}

.curriculum-section h2 {
    margin-bottom: 30px;
    font-size: 24px;
    color: var(--primary-color);
}

.row-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
}

.left {
    display: flex;
    gap: 40px;
}

.code {
    width: 120px;
}

.left a,
.right {
    text-decoration: none;
    color: #0056ff;
    font-weight: 600;
    font-size: 16px;
}

.right {
    font-size: 20px;
}

hr {
    border: none;
    border-bottom: 1px solid #e5e5e5;
}


@media (max-width: 1400px) {
    .section2 {
        flex-wrap: wrap;
    }

    nav ul li a {
        font-size: 14px;
    }
}

@media (max-width: 1200px) {
    .header {
        padding: 15px 10px;
    }

    .header .logo img {
        max-width: 220px;
    }

    nav {
        position: absolute;
        top: 70px;
        right: 0%;
        background: var(--text-color);
        width: 200px;
        display: none;
        flex-direction: column;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }

    .menu-toggle {
        display: block;
    }

    nav.active {
        display: flex;
    }

    .menu-toggle {
        /* background-color: var(--secondary-color); */
        color: var(--text-color);
        text-align: center;
    }

    nav ul li a {
        text-align: center;
        display: block;
        margin: auto;
    }

    nav ul {
        line-height: 40px;
    }

    nav ul li:first-child a {
        color: var(--secondary-color);
    }

    nav ul li a:hover {
        color: var(--secondary-color);
    }

    .about-content-section {
        padding: 20px 0;
        padding-left: 40px;
    }
}

@media (max-width: 448px) {
    .section2 {
        padding: 0 15px;
        gap: 30px;
    }

    .section2-content h4 {
        font-size: 16px;
    }

    .section2-content h2 {
        font-size: 17px;
        /* line-height: 30px; */
    }

    .section2-content p {
        font-size: 14px;
        max-width: 900px;
    }

    .svg-container span {
        font-size: 14px;
    }

    .form-box {
        width: 500px;
    }

    .content-div {
        padding: 0 15px;
    }

    .student-resource-btn a {
        display: block;
        margin: auto;
        text-align: center;
        max-width: 330px;
    }

    .btn-container {
        width: 100%;
    }

    .btn-container a {
        font-size: 14px;
        padding: 15px;
        width: 100%;
        max-width: 300px;
        justify-content: center;
    }

    .join-special-event {
        max-width: 410px;
    }

    .join-special-event p {
        max-width: 270px;
    }

    footer {
        margin-top: 80px;
    }

    .copy-right-container {
        padding: 30px 0;
        justify-content: center;
        line-height: 50px;
    }

    .copy-right-container p {
        margin: auto;
        text-align: center;
    }

    .departmenu-box {
        width: 380px;
    }

    .course-curriculum-container {
        margin-left: 0px;
        margin-top: 50px;
        padding: 0 40px;
    }
}

@media (max-width: 432px) {
    .school-department {
        left: 5%;
    }

    .section2 {
        padding: 0 27px;
    }

    .about-content-section {
        padding-left: 28px;
    }

    .shutter-stock img {
        width: 380px;
    }

    .svg-container span {
        font-size: 13px;
    }

    .btn-container {
        justify-content: center;
    }

    .course-curriculum-container {
        padding: 0 27px;
    }

    .join-special-event {
        max-width: 380px;
    }
}

@media (max-width: 416px) {
    .section2 {
        padding: 0 18px;
    }

    .section2-content h2 {
        line-height: 28px;
    }

    .section2-content p {
        font-size: 13px;
        line-height: 25px;
    }

    .svg-container span {
        max-width: 330px;
        line-height: 22px;
    }
}

@media (max-width: 392px) {
    .school-department {
        left: 4%;
    }

    .about-content-section {
        padding-left: 25px;
    }

    .shutter-stock img {
        width: 330px;
    }

    .departmenu-box {
        width: 330px;
    }

    .section2-content h4 {
        font-size: 15px;
    }

    .section2-content h2 {
        font-size: 15px;
    }

    .form-box h2 {
        font-size: 18px;
    }

    .join-special-event {
        max-width: 350px;
    }
}

@media (max-width: 380px) {

    .shutter-stock img {
        width: 324px;
    }

    .about-content-section {
        padding-left: 25px;
    }

    .departmenu-box {
        width: 325px;
    }

    .section2-content h2 {
        font-size: 15px;
        line-height: 28px;
    }

    .section2-content p {
        font-size: 15px;
    }

    .svg-container span {
        font-size: 16px;
    }

    .form-box h2 {
        font-size: 18px;
        font-weight: 600;
    }

    .form-box p {
        font-size: 15px;
        max-width: 200px;
    }

    .btn-container {
        justify-content: center;
    }

    .section2 {
        padding: 0 25px;
    }

    .section2-content h4 {
        font-size: 15px;
    }

    .section2-content p {
        font-size: 14px;
        line-height: 25px;
    }

    .svg-container span {
        font-size: 16px;
    }

    .left {
        gap: 0px;
    }

    .join-special-event {
        max-width: 350px;
    }

    .join-special-event p {
        max-width: 200px;
        font-size: 14px;
    }

    .join-special-event .see-more a {
        max-width: 250px;
    }

    .curriculum-section h2 {
        text-align: center;
    }
}

@media (max-width: 376px) {
    .svg-container span {
        font-size: 11px;
        max-width: 300px;
    }
}

@media (max-width: 346px) {
    .section2 {
        padding: 0;
        padding-left: 0px;
    }

    .section2-content {
        padding-left: 10px;
    }

    .section2-content h2 {
        font-size: 14px;
    }

    .section2-content hr {
        max-width: 320px;
    }

    .form-box {
        width: 330px;
    }

    .content-div {
        padding-left: 10px;
    }

    .svg-container span {
        font-size: 11px;
        line-height: 22px;
    }

    .join-special-event {
        max-width: 330px;
    }

    .course-curriculum-container {
        padding: 0 10px;
    }

    .section2-content p {
        font-size: 11px;
        max-width: 320px;
    }

    .svg-container span {
        max-width: 280px;
        font-size: 11px;
    }

    .form-box {
        padding: 50px 20px;
    }
}