* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #1c1b3b;
    --secondary-color: blue;
    --text-color: #ffffff;
}

body {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    scrollbar-width: none;
}

.hero-section {
    background-image: url(/images/students.jpg);
    background-size: cover;
    height: 700px;
    position: relative;
}

.hero-section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    /* overflow: hidden; */
}

.hero-section::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 2;
}

.hero-section>* {
    position: relative;
    z-index: 3;
}

.top-header {
    display: flex;
    background-color: var(--primary-color);
    padding: 30px 100px;
    justify-content: space-between;
}

.top-header .container {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.message p {
    color: var(--text-color);
}

.call p {
    color: var(--text-color);
}

.nav-links ul {
    display: flex;
    list-style-type: none;
    gap: 50px;
}

.nav-links ul li a {
    color: var(--text-color);
    font-weight: 500;
    text-decoration: none;
}

.support-ku-btn a {
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 30px;
    text-decoration: none;
    font-weight: 600;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin-top: 15px;
    position: sticky;
    top: 0px;
    z-index: 1000;
    transition: background-color 0.3s ease;
    padding: 20px 0;
}

.header.scrolled {
    background-color: var(--primary-color);
}

header .logo img {
    max-width: 350px;
}

nav ul {
    display: flex;
    gap: 30px;
    list-style-type: none;
}

nav ul li:first-child a {
    text-decoration: underline;
    color: var(--text-color);
    text-decoration-color: var(--secondary-color);
    text-underline-offset: 8px;
    text-decoration-thickness: 7px;
}


nav ul li a {
    color: #cecece;
    font-weight: 600;
    text-decoration: none;
    text-decoration-thickness: 4px;
    font-size: 16px;
}

nav ul li a:hover {
    color: var(--secondary-color);
    /* text-decoration: underline; */
    text-decoration: underline;
    color: var(--text-color);
    text-decoration-color: var(--secondary-color);
    text-underline-offset: 8px;
    text-decoration-thickness: 7px;
}

.menu-btn {
    display: none;
    font-size: 28px;
    background: none;
    border: none;
    cursor: pointer;
}

.apply-to-kingster {
    position: absolute;
    bottom: 7%;
    left: 7%;
}

.apply-to-kingster p {
    font-size: 21px;
    color: #cecece;
}

.apply-to-kingster h2 {
    color: var(--text-color);
    font-size: 48px;
}

.apply-kingster {
    display: flex;
    gap: 15px;
    margin-top: 20px;
    /* position: absolute; */
    margin-left: 110px;
    align-items: center;
}

.apply-kingster a {
    text-decoration: none;
    font-size: 14px;
    color: #a0a0a0;
}

.apply-kingster span {
    color: #a0a0a0;
    font-size: 14px;
}

.apply-kingster p {
    color: var(--secondary-color);
    font-size: 14px;
}

.about-container {
    display: flex;
    justify-content: center;
    gap: 75px;
    flex-wrap: wrap;
    /* align-items: center; */
    margin-top: 60px;
}

.about-container h2 {
    color: #161616;
    font-size: 27px;
}

.about-content p {
    color: #6b6b6b;
    font-size: 17px;
    max-width: 620px;
    margin-top: 25px;
    line-height: 28px;
    font-weight: 400;
}

.university p {
    max-width: 620px;
    color: #6b6b6b;
    font-size: 17px;
    line-height: 28px;
    margin-top: 70px;
}

.education-container {
    display: flex;
    background-color: var(--primary-color);
    padding: 70px 110px;
    justify-content: center;
    margin-top: 70px;
    gap: 35px;
    align-items: center;
    /* flex-wrap: wrap; */
    position: relative;
}

.education-container .section {
    color: var(--text-color);
}

.education-container .section h3 {
    font-size: 21px;
    font-weight: 600;
}

.education-container .section p {
    margin-top: 20px;
    line-height: 25px;
}

.fixed-image {
    background-image: url(/images/wallpaper.jpg);
    background-size: cover;
    height: 500px;
    /* object-fit: cover; */
    background-position: center;
    background-attachment: fixed;
}

.copy-right-container {
    display: flex;
    background-color: #2e2d2d;
    padding: 30px 110px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.copy-right-container p {
    color: #838383;
    font-size: 15px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.footer-container {
    background-color: #181818;
    padding: 80px 0;
    margin-top: 100px;
}

.our-campus ul {
    line-height: 30px;
    margin-top: 20px;
}

.our-campus hr {
    width: 300px;
}

.Academis h3 {
    color: var(--text-color);
    font-size: 17px;
    /* font-weight: 100; */
}

.Campus-life h3 {
    color: var(--text-color);
}

.Campus-life hr {
    width: 300px;
}

.Campus-life ul {
    margin-top: 20px;
    line-height: 35px;
}

.Academis hr {
    width: 300px;
    margin-top: 10px;
    background-color: var(--secondary-color);
    padding: 0.8px;
    border: none;
}

.Academis ul {
    margin-top: 20px;
    line-height: 35px;
}

.Academis ul li a {
    font-size: 16px;
}

.logo-content img {
    height: 50px;
}

.footer-container h3 {
    color: var(--text-color);
    font-size: 17px;
}

.box35300 {
    margin-top: 30px;
}

.box35300 ul {
    line-height: 30px;
}

.our-campus ul {
    line-height: 35px;
}

.admin p {
    margin-top: 10px;
    font-size: 15px;
}

.admin a {
    margin-top: 10px;
    display: block;
    font-size: 15px;
}

.our-campus hr {
    background-color: var(--secondary-color);
    border: none;
    padding: 0.8px;
    margin-top: 10px;
}

.Campus-life hr {
    background-color: var(--secondary-color);
    padding: 0.8px;
    border: none;
    margin-top: 10px;
}

.footer-container ul li {
    color: var(--text-color);
    list-style-type: none;
    color: #8d8d8d;
}

.footer-container ul li a {
    color: var(--text-color);
    text-decoration: none;
    color: #8d8d8d;
}

.admin p {
    color: var(--text-color);
}

.admin a {
    color: var(--text-color);
    text-decoration: none;
}

.admin hr {
    background-color: var(--secondary-color);
    padding: 0.8px;
    border: none;
    /* max-width: 340px; */
    margin-top: 20px;
}

.icons {
    display: flex;
    gap: 20px;
}

.icons svg {
    height: 22px;
}

.submission {
    display: flex;
    gap: 30px;
    margin-top: 40px;
    /* align-items: center; */
}

.submission .content p {
    max-width: 345px;
    color: #545454;
    margin-top: 10px;
    line-height: 28px;
}

.number {
    margin-top: 0px;
}

.application-heading {
    margin-top: 90px;
}

.number h1 {
    font-size: 45px;
    color: var(--secondary-color);
    /* margin-top: 10px; */
}

.content h3 {
    margin-top: 12px;
    font-weight: 600;
    font-size: 18px;
}

.application-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: flex-end;
    flex-wrap: wrap;
    /* line-height: 50px; */
}

.application-process hr {
    max-width: 1300px;
    margin: auto;
    margin-top: 70px;
    padding: 1.5px;
    border: none;
    background-color: var(--primary-color);
}

.know-first-container {
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-top: 80px;
    flex-wrap: wrap;
}

.things-to-heading h2 {
    font-size: 22px;
    color: #161616;
}

.things-to-heading p {
    max-width: 620px;
    color: #6b6b6b;
    font-size: 17px;
    margin-top: 40px;
    line-height: 30px;
}

.when-to-apply p {
    font-weight: 700;
    margin-bottom: 40px;
    font-size: 22px;
    color: #161616;
}

table thead tr th {
    background-color: var(--secondary-color);
    padding: 15px 40px;
    color: var(--text-color);
    font-weight: 400;
}

table tbody tr th {
    background-color: #f3f3f3;
    color: #949494;
    font-weight: 400;
    padding: 20px 30px;
}

@media (max-width: 1400px) {
    .education-container {
        flex-wrap: wrap;
    }
}

@media (max-width: 1200px) {
    .top-header {
        display: none;
    }

    .hero-section {
        margin: 0;
    }

    .header {
        justify-content: space-between;
        padding: 15px 80px;
        margin: 0;
    }

    nav {
        position: absolute;
        top: 70px;
        right: 0%;
        background: var(--text-color);
        width: 200px;
        display: none;
        flex-direction: column;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }

    .menu-btn {
        display: block;
    }

    nav.active {
        display: flex;
    }

    .menu-btn {
        /* background-color: var(--secondary-color); */
        color: var(--text-color);
        text-align: center;
    }

    nav ul li a {
        text-align: center;
        display: block;
        margin: auto;
    }

    nav ul {
        line-height: 40px;
    }

    nav ul li:first-child a {
        color: var(--secondary-color);
    }

    nav ul li a:hover {
        color: var(--secondary-color);
    }
}

@media (max-width: 576px) {
    .header {
        padding: 15px 10px;
    }

    .header .logo img {
        max-width: 220px;
    }
}

@media (max-width: 448px) {
    .apply-to-kingster {
        left: 3%;
    }

    .apply-kingster {
        margin-left: 20px;
    }

    .apply-to-kingster h2 {
        font-size: 40px;
    }

    .about-container {
        padding: 0 20px;
        gap: 40px;
        /* padding-left: 20px; */
    }

    .about-content p {
        font-size: 16px;
        max-width: 900px;
    }

    .education-container {
        padding: 70px 20px;
    }

    .application-container {
        padding: 0 20px;
        gap: 0px;
    }

    .submission .content p {
        max-width: 400px;
    }

    .application-process hr {
        max-width: 400px;
        /* background-attachment: ; */
    }

    .fixed-image {
        background-attachment: scroll;
        background-position: center;
        background-size: cover;
    }

    .university p {
        margin-top: 0;
    }
}

@media (max-width: 432px) {
    .hero-section {
        background-position: center;
    }

    .submission .content p {
        font-size: 15px;
    }
}

@media (max-width: 392px) {
    .submission {
        gap: 15px;
    }

    .submission .content p {
        font-size: 14px;
    }

    .application-process hr {
        max-width: 350px;
    }
}

@media (max-width: 337px) {
    .apply-to-kingster h2 {
        font-size: 30px;
    }

    .about-container h2 {
        font-size: 20px;
    }

    .about-content p {
        font-size: 12px;
    }

    .university p {
        font-size: 12px;
    }

    .education-container .section p {
        font-size: 14px;
    }

    .application-heading h2 {
        font-size: 22px;
    }

    .content h3 {
        font-size: 16px;
    }

    .submission .content p {
        font-size: 11px;
    }

    .application-process hr {
        max-width: 300px;
    }

    .copy-right-container {
        padding: 30px 0;
        justify-content: center;
        line-height: 30px;
    }

    .copy-right-container p {
        font-size: 11px;
        max-width: 100%;
    }
}