* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #1c1b3b;
    --secondary-color: blue;
    --text-color: #ffffff;
}

body {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    scrollbar-width: none;
}

.hero-section {
    background-image: url(/images/students.jpg);
    background-size: cover;
    height: 700px;
    position: relative;
}

.hero-section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    /* overflow: hidden; */
}

.hero-section::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 2;
}

.header {
    background: #0b3c5d;
    padding: 25px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    transition: transform 0.4s ease;
}

.header.hide {
    transform: translateY(-100%);
}

.container {
    /* max-width: 1200px; */
    margin: auto;
    padding: 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #fff;
}

.logo-icon {
    width: 50px;
    height: 50px;
    background: #f9b233;
    color: #0b3c5d;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: bold;
    border-radius: 8px;
}

.logo-text h1 {
    font-size: 20px;
}

.logo-text span {
    font-size: 12px;
    color: #dcdcdc;
}

.nav {
    /* display: flex; */
    /* gap: 25px; */
}

.nav ul {
    display: flex;
    gap: 25px;
}

.nav a {
    color: #bfbfbf;
    text-decoration: none;
    font-size: 15px;
    position: relative;
}

.nav ul a:first-child {
    color: var(--text-color);
}

.nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: #f9b233;
    transition: 0.3s;
}

.nav a:hover::after {
    width: 100%;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.menu-toggle span {
    width: 25px;
    height: 3px;
    background: #fff;
}

.apply-to-kingster {
    position: absolute;
    bottom: 7%;
    left: 7%;
}

.apply-to-kingster p {
    font-size: 21px;
    color: #cecece;
}

.apply-to-kingster h2 {
    color: var(--text-color);
    font-size: 48px;
}

.apply-kingster {
    display: flex;
    gap: 15px;
    margin-top: 20px;
    /* position: absolute; */
    margin-left: 110px;
    align-items: center;
}

.apply-kingster a {
    text-decoration: none;
    font-size: 14px;
    color: #a0a0a0;
}

.apply-kingster span {
    color: #a0a0a0;
    font-size: 14px;
}

.apply-kingster p {
    color: var(--secondary-color);
    font-size: 14px;
}

.about-container {
    display: flex;
    justify-content: center;
    gap: 75px;
    flex-wrap: wrap;
    /* align-items: center; */
    margin-top: 60px;
}

.about-container h2 {
    color: #161616;
    font-size: 27px;
}

.about-content p {
    color: #6b6b6b;
    font-size: 17px;
    max-width: 620px;
    margin-top: 25px;
    line-height: 28px;
    font-weight: 400;
}

.university p {
    max-width: 620px;
    color: #6b6b6b;
    font-size: 17px;
    line-height: 28px;
    margin-top: 70px;
}

.education-container {
    display: flex;
    background-color: var(--primary-color);
    padding: 70px 110px;
    justify-content: center;
    margin-top: 70px;
    gap: 35px;
    align-items: center;
    /* flex-wrap: wrap; */
    position: relative;
}

.education-container .section {
    color: var(--text-color);
}

.education-container .section h3 {
    font-size: 21px;
    font-weight: 600;
}

.education-container .section p {
    margin-top: 20px;
    line-height: 25px;
}

.fixed-image {
    background-image: url(/images/wallpaper.jpg);
    background-size: cover;
    height: 500px;
    /* object-fit: cover; */
    background-position: center;
    background-attachment: fixed;
}

.copy-right-container {
    display: flex;
    background-color: #2e2d2d;
    padding: 30px 110px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.copy-right-container p {
    color: #838383;
    font-size: 15px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.footer-container {
    background-color: #181818;
    padding: 80px 0;
    margin-top: 100px;
}

.our-campus ul {
    line-height: 30px;
    margin-top: 20px;
}

.our-campus hr {
    width: 300px;
}

.Academis h3 {
    color: var(--text-color);
    font-size: 17px;
    /* font-weight: 100; */
}

.Campus-life h3 {
    color: var(--text-color);
}

.Campus-life hr {
    width: 300px;
}

.Campus-life ul {
    margin-top: 20px;
    line-height: 35px;
}

.Academis hr {
    width: 300px;
    margin-top: 10px;
    background-color: var(--secondary-color);
    padding: 0.8px;
    border: none;
}

.Academis ul {
    margin-top: 20px;
    line-height: 35px;
}

.Academis ul li a {
    font-size: 16px;
}

.logo-content img {
    height: 50px;
}

.footer-container h3 {
    color: var(--text-color);
    font-size: 17px;
}

.box35300 {
    margin-top: 30px;
}

.box35300 ul {
    line-height: 30px;
}

.our-campus ul {
    line-height: 35px;
}

.admin p {
    margin-top: 10px;
    font-size: 15px;
}

.admin a {
    margin-top: 10px;
    display: block;
    font-size: 15px;
}

.our-campus hr {
    background-color: var(--secondary-color);
    border: none;
    padding: 0.8px;
    margin-top: 10px;
}

.Campus-life hr {
    background-color: var(--secondary-color);
    padding: 0.8px;
    border: none;
    margin-top: 10px;
}

.footer-container ul li {
    color: var(--text-color);
    list-style-type: none;
    color: #8d8d8d;
}

.footer-container ul li a {
    color: var(--text-color);
    text-decoration: none;
    color: #8d8d8d;
}

.admin p {
    color: var(--text-color);
}

.admin a {
    color: var(--text-color);
    text-decoration: none;
}

.admin hr {
    background-color: var(--secondary-color);
    padding: 0.8px;
    border: none;
    /* max-width: 340px; */
    margin-top: 20px;
}

.icons {
    display: flex;
    gap: 20px;
}

.icons svg {
    height: 22px;
}

.submission {
    display: flex;
    gap: 30px;
    margin-top: 40px;
    /* align-items: center; */
}

.submission .content p {
    max-width: 345px;
    color: #545454;
    margin-top: 10px;
    line-height: 28px;
}

.number {
    margin-top: 0px;
}

.application-heading {
    margin-top: 90px;
}

.number h1 {
    font-size: 45px;
    color: var(--secondary-color);
    /* margin-top: 10px; */
}

.content h3 {
    margin-top: 12px;
    font-weight: 600;
    font-size: 18px;
}

.application-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: flex-end;
    flex-wrap: wrap;
    /* line-height: 50px; */
}

.application-process hr {
    max-width: 1300px;
    margin: auto;
    margin-top: 70px;
    padding: 1.5px;
    border: none;
    background-color: var(--primary-color);
}

.things-know-first {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
    flex-wrap: wrap;
    /* align-items: center; */
}

.thing-content h2 {
    font-size: 22px;
    color: #161616;
    /* margin-top: 20px; */
}

.application-content p {
    max-width: 620px;
    font-size: 17px;
    color: #6b6b6b;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 28px;
}

.you-will-need p {
    color: #6b6b6b;
    font-size: 17px;
    max-width: 600px;
    line-height: 28px;
    margin-top: 30px;
}

.contact-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contact-info svg {
    height: 18px;
    margin-bottom: 0px;
}

.contact-info svg:nth-of-type(1) {
    margin-bottom: 15px;
    border-radius: 50%;
}

.btn-container {
    display: flex;
    gap: 10px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.btn-container .Request-tour {
    background-color: var(--secondary-color);
    padding: 20px 30px;
    color: var(--text-color);
    font-weight: 600;
    text-decoration: none;
}

.info {
    padding: 20px 30px;
    color: var(--text-color);
    background-color: var(--primary-color);
    text-decoration: none;
    font-weight: 600;
}

.when-to-apply p {
    font-weight: 700;
    font-size: 22px;
    color: #161616;
}

.table-container table {
    margin-top: 20px;
}

.table-container table .t-heading {
    background-color: var(--secondary-color);
    padding: 12px 40px;
    color: var(--text-color);
    font-weight: 400;
    font-size: 16px;
}

.t-row {
    background-color: #e6e6e6;
    color: #949494;
    font-weight: 400;
    padding: 20px;
}

.submit-document-container h3 {
    font-size: 22px;
    color: #161616;
    margin-top: 50px;
}

.submit-document-container span {
    color: #6b6b6b;
    font-size: 17px;
    margin-top: 30px;
    display: block;
}

.submit-document-container p {
    font-size: 16px;
    color: #919191;
    line-height: 28px;
}

.submit-document-container p:nth-of-type(1) {
    margin-top: 30px;
}

@media (max-width: 1400px) {
    .education-container {
        flex-wrap: wrap;
    }
}

@media (max-width: 1200px) {
    .top-header {
        display: none;
    }

    .hero-section {
        margin: 0;
    }

    .header {
        justify-content: space-between;
        padding: 15px 80px;
        margin: 0;
    }

    nav {
        position: absolute;
        top: 70px;
        right: 0%;
        background: var(--text-color);
        width: 200px;
        display: none;
        flex-direction: column;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }

    .menu-btn {
        display: block;
    }

    nav.active {
        display: flex;
    }

    .menu-btn {
        /* background-color: var(--secondary-color); */
        color: var(--text-color);
        text-align: center;
    }

    nav ul li a {
        text-align: center;
        display: block;
        margin: auto;
    }

    nav ul {
        line-height: 40px;
    }

    nav ul li:first-child a {
        color: var(--secondary-color);
    }

    nav ul li a:hover {
        color: var(--secondary-color);
    }
}

@media (max-width: 576px) {
    .hero-section {
        /* background-size: cover; */
        background-position: center;
    }

    .header {
        padding: 15px 10px;
    }

    .header .logo img {
        max-width: 220px;
    }

    .apply-to-kingster {
        left: 5%;
    }

    .apply-kingster {
        position: absolute;
        left: 5%;
        /* display: none; */
        margin-left: 0;
    }

    .about-container {
        padding: 0 30px;
        gap: 0;
        margin-top: 80px;
    }

    .education-container {
        padding: 70px;
    }
}

@media (max-width: 448px) {

    .apply-to-kingster {
        left: 3%;
    }

    .apply-to-kingster h2 {
        font-size: 40px;
    }

    .about-container {
        padding: 0 20px;
        gap: 40px;
        /* padding-left: 20px; */
    }

    .about-container h2 {
        font-size: 25px;
    }

    .about-content p {
        font-size: 16px;
        max-width: 900px;
        margin-top: 10px;
        font-size: 14px;
    }

    .education-container {
        padding: 70px 20px;
    }

    .application-container {
        padding: 0 20px;
        gap: 0px;
    }

    .submission .content p {
        max-width: 400px;
    }

    .application-process hr {
        max-width: 400px;
        /* background-attachment: ; */
    }

    .fixed-image {
        background-attachment: scroll;
        background-position: center;
        background-size: cover;
    }

    .university p {
        margin-top: 0;
        font-size: 14px;
    }

    .hero-section {
        background-position: center;
    }

    .things-to-know-container {
        padding: 0 25px;
    }

    .btn-container {
        justify-content: center;
    }

    .btn-container a {
        width: 100%;
        text-align: center;
    }

    .submit-document-container {
        padding: 0 20px;
    }

    .table {
        width: 0;
        display: flex;
        justify-content: center;
        margin: auto;
        align-items: center;
    }
}

@media (max-width: 432px) {
    .hero-section {
        background-position: center;
    }

    .submission .content p {
        font-size: 15px;
    }
}

@media (max-width: 392px) {
    .submission {
        gap: 15px;
    }

    .submission .content p {
        font-size: 14px;
    }

    .application-process hr {
        max-width: 350px;
    }
}

@media (max-width: 337px) {
    .apply-to-kingster h2 {
        font-size: 30px;
    }

    .about-container h2 {
        font-size: 20px;
    }

    .about-content p {
        font-size: 12px;
    }

    .university p {
        font-size: 12px;
    }

    .education-container .section p {
        font-size: 14px;
    }

    .application-heading h2 {
        font-size: 22px;
    }

    .content h3 {
        font-size: 16px;
    }

    .submission .content p {
        font-size: 11px;
    }

    .application-process hr {
        max-width: 300px;
    }

    .copy-right-container {
        padding: 30px 0;
        justify-content: center;
        line-height: 30px;
    }

    .copy-right-container p {
        font-size: 11px;
        max-width: 100%;
    }
}