* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #1c1b3b;
    --secondary-color: blue;
    --text-color: #ffffff;
}

body::-webkit-scrollbar {
    scrollbar-width: none;
}

body {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

.hero-section {
    background-image: url(/images/foot-ball-match.jpg);
    background-size: cover;
    height: 800px;
    position: relative;
    /* background-position: center; */

}

.hero-section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(17, 15, 15, 0.4), rgba(25, 16, 16, 0.2));
    z-index: 2;
    /* overflow: hidden; */
}

.hero-section::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom,
            rgba(30, 30, 30, 0.55),
            rgba(60, 60, 60, 0.35),
            rgba(20, 20, 20, 0.6));
    z-index: 2;
}

.hero-section>* {
    position: relative;
    z-index: 3;
}

.header {
    background: #0b3c5d;
    padding: 25px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    transition: transform 0.4s ease;
}

.header.hide {
    transform: translateY(-100%);
}

.container {
    /* max-width: 1200px; */
    margin: auto;
    padding: 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #fff;
}

.logo-icon {
    width: 50px;
    height: 50px;
    background: #f9b233;
    color: #0b3c5d;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: bold;
    border-radius: 8px;
}

.logo-text h1 {
    font-size: 20px;
}

.logo-text span {
    font-size: 12px;
    color: #dcdcdc;
}



.nav ul {
    display: flex;
    gap: 25px;
}

.nav a {
    color: #bfbfbf;
    text-decoration: none;
    font-size: 15px;
    position: relative;
}

.nav ul a:first-child {
    color: var(--text-color);
}

.nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: #f9b233;
    transition: 0.3s;
}

.nav a:hover::after {
    width: 100%;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.menu-toggle span {
    width: 25px;
    height: 3px;
    background: #fff;
}

.athletic {
    position: absolute;
    bottom: 5%;
    left: 5%;
}

.athletic p {
    font-size: 21px;
    color: #d6d6d6;
}

.athletic h1 {
    color: var(--text-color);
    font-size: 48px;
}

.home-athletic {
    padding-left: 90px;
    margin-top: 20px;
}

.home-athletic-content {
    display: flex;
    gap: 15px;
}

.home-athletic-content a {
    color: #a0a0a0;
    font-size: 14px;
    text-decoration: none;
}

.home-athletic-content span {
    color: #a0a0a0;
}

.home-athletic-content p {
    color: var(--secondary-color);
    font-size: 14px;
    font-weight: 500;
}

.home-athletic hr {
    max-width: 300px;
    margin-top: 20px;
    background-color: var(--secondary-color);
    padding: 2px;
    border: none;
}

.far-away-behind span {
    max-width: 870px;
    /* width: 100%; */
    display: block;
    margin-top: 25px;
    font-size: 19px;
    line-height: 33px;
    color: var(--secondary-color);
}

.far-away-behind p {
    color: #6b6b66;
    max-width: 1270px;
    margin-top: 20px;
    line-height: 30px;
    font-size: 18px;
}

.copy-right-container {
    display: flex;
    background-color: #2e2d2d;
    padding: 30px 110px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.copy-right-container p {
    color: #838383;
    font-size: 15px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    margin-top: 100px;
}

.footer-container {
    background-color: #181818;
    padding: 80px 0;
}

.our-campus ul {
    line-height: 30px;
    margin-top: 20px;
}

.our-campus hr {
    width: 300px;
}

.Academis h3 {
    color: var(--text-color);
    font-size: 17px;
    /* font-weight: 100; */
}

.Campus-life h3 {
    color: var(--text-color);
}

.Campus-life hr {
    width: 300px;
}

.Campus-life ul {
    margin-top: 20px;
    line-height: 35px;
}

.Academis hr {
    width: 300px;
    margin-top: 10px;
    background-color: var(--secondary-color);
    padding: 0.8px;
    border: none;
}

.Academis ul {
    margin-top: 20px;
    line-height: 35px;
}

.Academis ul li a {
    font-size: 16px;
}

.logo-content img {
    height: 50px;
}

.footer-container h3 {
    color: var(--text-color);
    font-size: 17px;
}

.box35300 {
    margin-top: 30px;
}

.box35300 ul {
    line-height: 30px;
}

.our-campus ul {
    line-height: 35px;
}

.admin p {
    margin-top: 10px;
    font-size: 15px;
}

.admin a {
    margin-top: 10px;
    display: block;
    font-size: 15px;
}

.our-campus hr {
    background-color: var(--secondary-color);
    border: none;
    padding: 0.8px;
    margin-top: 10px;
}

.Campus-life hr {
    background-color: var(--secondary-color);
    padding: 0.8px;
    border: none;
    margin-top: 10px;
}

.footer-container ul li {
    color: var(--text-color);
    list-style-type: none;
    color: #8d8d8d;
}

.footer-container ul li a {
    color: var(--text-color);
    text-decoration: none;
    color: #8d8d8d;
}

.admin p {
    color: var(--text-color);
}

.admin a {
    color: var(--text-color);
    text-decoration: none;
}

.admin hr {
    background-color: var(--secondary-color);
    padding: 0.8px;
    border: none;
    /* max-width: 340px; */
    margin-top: 20px;
}

.icons {
    display: flex;
    gap: 20px;
}

.icons svg {
    height: 22px;
}

.course-curriculum-container {
    max-width: 870px;
    /* margin: auto; */
    margin-left: 90px;
    margin-top: 60px;
    /* padding: 40px 0px; */
}

.curriculum-section h2 {
    margin-bottom: 30px;
    font-size: 24px;
    color: var(--primary-color);
}

.news-update {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.news-update h2 {
    font-size: 24px;
    /* display: none; */
    color: var(--primary-color);
}

.news-update a {
    font-size: 14px;
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: 500;
}

.news-update-container {
    display: flex;
    gap: 22px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 70px;
}

.news-update hr {
    width: 600px;
    background-color: #e6e6e6;
    padding: 1.3px;
    border: none;
    margin-bottom: 20px;
    overflow: hidden;
}

.upcoming-event {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.upcoming-event h2 {
    color: #182847;
    font-size: 22px;
}

.upcoming-event hr {
    width: 200px;
    background-color: #e6e6e6;
    padding: 1.3px;
    border: none;
}

.research h3 {
    font-size: 13px;
    letter-spacing: 0.4px;
    color: #959595;
    font-weight: 600;
    margin-top: 30px;
}

.research p {
    color: var(--primary-color);
    font-size: 19px;
    color: #353372;
    font-weight: 700;
    max-width: 340px;
    margin-top: 5px;
    line-height: 22px;
}

.global-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.Container .shutter-stock img:nth-of-type(1) {
    margin-top: 0;
}

.Container .shutter-stock-img img {
    max-width: 450px;
    border-radius: 3px;
    margin-top: 30px;
    object-fit: cover;
}

.research-on-mobile-money {
    display: flex;
    /* align-items: center; */
    gap: 40px;
    flex-wrap: wrap;
}

.global-content {
    margin-top: 15px;
}

.global-content .update {
    font-size: 13px;
    color: #959595;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.4px;
}

.shutter-stock img {
    height: 80px;
    border-radius: 3px;
    margin: 15px 0;
}

.global-content p {
    color: #353372;
    font-size: 16px;
    font-weight: 700;
    max-width: 300px;
    margin-top: 5px;
    line-height: 20px;
    /* margin-top: 10px; */
}

.fintech-key-investment-container {
    /* display: flex; */
    /* align-items: flex-end; */
    gap: 20px;
    margin-top: 50px;
}

.fintech-content .date h2 {
    font-size: 34px;
    font-weight: 700;
    color: var(--secondary-color);
    text-align: center;
}

.fintech-content h3 {
    margin-top: 0;
    line-height: 22px;
    text-align: center;
}

.time-container {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.date hr {
    background-color: var(--secondary-color);
    padding: 1.2px;
    border: none;
}

.date h3 {
    font-size: 16px;
}

.fintech-key-investment-container .content {
    display: flex;
    gap: 20px;
}

.fintechconference-container h3 {
    font-size: 18px;
    color: var(--primary-color);
    max-width: 320px;
    margin-top: 10px;
    line-height: 22px;
}

.time-container .time p {
    max-width: 130px;
}

.time-container p {
    font-size: 13px;
}

.content2 {
    display: flex;
    gap: 20px;
    margin-top: 50px;
}

.content3 {
    display: flex;
    gap: 20px;
    margin-top: 50px;
}

.event-btn {
    margin-top: 70px;
}

.event-btn a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
}

.event-btn svg {
    height: 18px;
}

.life-goal-container {
    display: flex;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    margin-top: 50px;
    /* justify-content: center; */
}

.gym-img img {
    /* max-width: 1000px; */
    height: 600px;
    /* width: 100%; */
    display: block;
    width: 800px;
}

.goal-content span svg {
    height: 70px;
    text-align: left;
    position: relative;
    right: 100px;
}

.goal-content h4 {
    max-width: 500px;
    font-size: 21px;
    color: #2d2d2d;
    font-weight: 600;
    line-height: 35px;
}

.goal-content p {
    color: #2d2d2d;
    font-size: 18px;
    font-weight: 600;
    margin-top: 30px;
}

.banner-container {
    background-color: var(--primary-color);
    padding: 60px 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ku-team-container {
    display: flex;
    align-items: center;
    margin-top: 50px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
}

.content-section1 span {
    max-width: 580px;
    display: block;
    color: var(--secondary-color);
    font-size: 19px;
    line-height: 30px;
    margin-top: 30px;
}

.content-section1 p {
    max-width: 580px;
    color: #6b6b66;
    margin-top: 30px;
}

.content-section2 hr {
    background-color: var(--secondary-color);
    padding: 1.4px;
    border: none;
}

.content-section2 h3 {
    font-size: 23px;
    color: #161616;
    margin-top: 40px;
}

.content-section2 p {
    max-width: 620px;
    color: #6b6b66;
    line-height: 28px;
    margin-top: 30px;
}

.guide-book {
    margin-top: 50px;
}

.guide-book a {
    color: var(--text-color);
    background-color: var(--secondary-color);
    padding: 20px 30px;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    align-items: center;
    max-width: 258px;
    gap: 10px;
    justify-content: center;
}

.guide-book a svg {
    height: 18px;
}

@media (max-width: 1400px) {
    .section2 {
        flex-wrap: wrap;
    }

    nav ul li a {
        font-size: 14px;
    }

    .hero-section {
        background-position: center;
    }
}

@media (max-width: 1200px) {
    .top-header {
        display: none;
    }

    .header {
        padding: 15px 10px;
    }

    .header .logo img {
        max-width: 220px;
    }

    nav {
        position: absolute;
        top: 70px;
        right: 0%;
        background: var(--text-color);
        width: 200px;
        display: none;
        flex-direction: column;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }

    .menu-btn {
        display: block;
    }

    nav.active {
        display: flex;
    }

    .menu-btn {
        /* background-color: var(--secondary-color); */
        color: var(--text-color);
        text-align: center;
    }

    nav ul li a {
        text-align: center;
        display: block;
        margin: auto;
    }

    nav ul {
        line-height: 40px;
    }

    nav ul li:first-child a {
        color: var(--secondary-color);
    }

    nav ul li a:hover {
        color: var(--secondary-color);
    }

    .about-content-section {
        padding: 20px 0;
        padding-left: 40px;
    }
}

@media (max-width: 992px) {
    .life-goal-container {
        justify-content: center;
    }

    .gym-img img {
        max-width: 600px;
        display: block;
        width: 100%;
    }
}

@media (max-width: 600px) {
    .research-on-mobile-money {
        justify-content: center;
    }


    .news-update .hr {
        display: flex;
        justify-content: center;
    }

    .news-update hr {
        max-width: 500px;
    }
}

@media (max-width: 576px) {
    .container {
        padding: 0 20px;
    }

    .home-athletic {
        padding-left: 40px;
    }

    .news-update {
        justify-content: center;
        text-align: center;
    }

    .gym-img img {
        max-width: 500px;
        height: 500px;
    }
}

@media (max-width: 500px) {
    .news-update hr {
        max-width: 457px;
    }
}

@media (max-width: 460px) {
    .news-update hr {
        max-width: 400px;
    }
}

@media (max-width: 448px) {
    .container {
        padding: 0 10px;
    }

    .home-athletic {
        padding: 0 28px;
    }

    .far-away-behind span {
        font-size: 15px;
    }

    .far-away-behind p {
        font-size: 15px;
    }

    .hero-section {
        background-position: center;
        background-size: cover;
    }

    .gym-img img {
        max-width: 400px;
    }

    .goal-content {
        padding: 0 20px;
    }

    .banner-container {
        margin-top: 50px;
        justify-content: center;
    }

    .ku-team-container {
        padding: 0 20px;
    }

    .content-section1 span {
        font-size: 18px;
    }

    .content-section1 p {
        font-size: 15px;
        line-height: 25px;
    }

    .content-section2 p {
        font-size: 15px;
    }

    .guide-book {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 432px) {
    .far-away-behind span {
        font-size: 14px;
    }

    .far-away-behind p {
        font-size: 14px;
    }

    .Upcoming-event {
        padding: 0 20px;
        /* text-align: center; */
    }

    .upcoming-event {
        text-align: center;
        justify-content: center;
    }

    .upcoming-event hr {
        width: 390px;
    }

    .life-goal-container {
        gap: 40px;
    }

    .gym-img img {
        height: 400px;
    }

    .goal-content h4 {
        font-size: 17px;
    }

    .content-section1 span {
        font-size: 17px;
    }

    .content-section1 p {
        font-size: 14px;
    }

    .content-section2 p {
        font-size: 14px;
        max-width: 650px;
    }
}

@media (max-width: 448px) {
    .far-away-behind p {
        font-size: 12px;
    }

    .Container .shutter-stock-img img {
        max-width: 400px;
    }
}

@media (max-width: 428px) {
    .global-content p {
        max-width: 250px;
    }

    .news-update hr {
        max-width: 355px;
    }

    .Container .shutter-stock-img img {
        max-width: 350px;
    }

    .upcoming-event hr {
        max-width: 350px;
    }

    .fintech-key-investment-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* margin: auto; */
    }
}

@media (max-width: 416px) {
    .goal-content h4 {
        font-size: 14px;
        max-width: 400px;
    }

    .content-section1 span {
        font-size: 16px;
    }

    .contentsection1 p {
        font-size: 13px;
    }

    .content-section2 p {
        font-size: 13px;
    }
}

@media (max-width: 414px) {
    .news-update hr {
        max-width: 390px;
    }

    .far-away-behind p {
        font-size: 13px;
        max-width: 1000px;
    }

    .gym-img img {
        max-width: 350px;
        height: 100%;
        /* object-fit: cover; */
    }

    .goal-content {
        padding: 0 30px;
    }

    .goal-content h4 {
        font-size: 14px;
        /* max-width: 350px; */
    }
}

@media (max-width: 400px) {
    .news-update hr {
        max-width: 355px;
    }

    .Container .shutter-stock-img img {
        max-width: 350px;
    }

    .global-container {
        padding: 0 20px;
    }

    .global-content p {
        max-width: 250px;
    }

    .upcoming-event {
        justify-content: center;
    }

    .upcoming-event hr {
        width: 355px;
    }

    .upcoming-event h2 {
        text-align: center;
    }

    .Upcoming-event {
        padding: 0 20px;
    }
}

@media (max-width: 396px) {

    /* .hero-section{} */
    .Container .shutter-stock-img img {
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .research p {
        max-width: 300px;
    }

    .Container .shutter-stock-img img {
        max-width: 350px;
    }

    .goal-content h4 {
        font-size: 15px;
    }

    .content-section1 span {
        font-size: 15px;
        margin-top: 20px;
    }

    .content-section1 p {
        font-size: 13px;
        margin-top: 20px;
    }

    .content-section2 p {
        font-size: 13px;
        margin-top: 20px;
    }
}

@media (max-width: 384px) {
    .news-update hr {
        max-width: 335px;
    }

    .Container .shutter-stock-img img {
        max-width: 330px;
    }

    .upcoming-event hr {
        width: 335px;
    }

    .fintech-content .date h2 {
        font-size: 30px;
    }
}

@media (max-width: 375px) {
    .news-update hr {
        max-width: 305px;
    }

    .Container .shutter-stock-img img {
        max-width: 300px;
    }

    .upcoming-event hr {
        max-width: 305px;
    }
}

@media (max-width: 367px) {
    .gym-img img {
        max-width: 300px;
    }

    .goal-content {
        padding: 0 30px;
    }

    .goal-content h4 {
        font-size: 13px;
        line-height: 25px;
    }

    .goal-content p {
        font-size: 15px;
    }
}

@media (max-width: 346px) {
    .far-away-behind span {
        font-size: 12px;
        line-height: 25px;
    }

    .far-away-behind p {
        font-size: 11px;
        line-height: 25px;
    }

    .research p {
        max-width: 300px;
    }

    .news-update hr {
        max-width: 255px;
    }

    .Container .shutter-stock-img img {
        max-width: 300px;
    }

    .research p {
        font-size: 14px;
        max-width: 250px;
        line-height: 18px;
    }

    .global-content .update {
        font-size: 11px;
    }

    .global-content p {
        font-size: 13px;
    }

    .upcoming-event hr {
        max-width: 295px;
    }

    .goal-content {
        padding: 0 20px;
    }

    .content-section1 h2 {
        font-size: 22px;
    }

    .content-section1 span {
        font-size: 13px;
        line-height: 25px;
    }
}