* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {}

body {
    font-family: 'Poppins', sans-serif;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    background-color: #1c1b3b;
}

.contact-info {
    display: flex;
    gap: 30px;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
}

nav ul {
    list-style-type: none;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

.support-btn a {
    text-decoration: none;
    background-color: #c50227;
    padding: 21px;
}