* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #1c1b3b;
    --secondary-color: blue;
    --text-color: #ffffff;
}

body {
    font-family: 'Poppins', sans-serif;
}


form {
    height: 500px;
    background-image:
        linear-gradient(rgba(28, 26, 92, 0.85), rgba(28, 26, 92, 0.85)),
        url(/images/beautifu-nature.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

form h2 {
    color: var(--text-color);
    text-align: center;
    font-size: 24px;
}

.flexbox-container {
    /* display: flex; */
    /* align-items: flex-end; */
    /* gap: 20px; */
    margin-top: 30px;
}

.flexbox-container input {
    padding: 20px 20px;
    width: 400px;
    background-color: #0d0C3E;
    /* width: 100%; */
    color: #d7d6ff;
    border-radius: 3px;
    border: none;
    /* position: relative; */
    /* z-index: 3; */
}

input::placeholder {
    color: #d7d6ff;
    font-family: 'Poppins';
    font-size: 14px;
    position: relative;
}

.flexbox-container select {
    padding: 14px;
    background-color: #0d0C3E;
    /* color: var(--text-color); */
    font-family: 'Poppins';
    color: #d7d6ff;
    border: none;
    width: 400px;
    border: none;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    /* padding-right: 40px; */
}

.input-container {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.select-box {
    position: relative;
}

.select-box::after {
    content: "";
    position: absolute;
    right: 22px;
    top: 50%;
    width: 8px;
    height: 8px;
    border-right: 2px solid #d7d6ff;
    border-bottom: 2px solid #d7d6ff;
    transform: translateY(-50%) rotate(45deg);
    pointer-events: none;
}

option {
    border: none;
    background-color: var(--text-color);
}

.input-fields input {
    margin: 5px 0;
}

.input-fields select {
    margin: 5px 0;
}

.course-btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.course-btn a {
    background-color: var(--secondary-color);
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 4px;
    color: var(--text-color);
    font-weight: 600;
}

@media (max-width: 448px) {

    form {
        margin: 0;
        height: 800px;
    }

    .input-container {
        flex-direction: column;
        gap: 0;
    }

    form {
        padding: 40px;
    }

}

@media (max-width: 432px) {
    .flexbox-container input {
        max-width: 420px;
    }
}

@media (max-width: 416px) {
    .flexbox-container input {
        max-width: 370px;
    }

    .flexbox-container .select-box select {
        max-width: 370px;
    }
}

@media (max-width: 400px) {
    .flexbox-container input {
        width: 380px;
    }

    .flexbox-container .select-box select {
        width: 380px;
    }
}

@media (max-width: 392px) {

    .flexbox-container input {
        max-width: 380px;
    }

    .flexbox-container .select-box select {
        max-width: 380px;
    }
}

@media (max-width: 380px) {
    .flexbox-container input {
        max-width: 360px;
    }

    .flexbox-container .select-box select {
        max-width: 360px;
    }
}

@media (max-width: 376px) {

    .flexbox-container input {
        max-width: 360px;
    }

    .flexbox-container .select-box select {
        max-width: 360px;
    }
}

@media (max-width: 360px) {

    .flexbox-container input {
        max-width: 330px;
    }

    .flexbox-container .select-box select {
        max-width: 330px;
    }
}

@media (max-width: 330px) {
    form h2 {
        font-weight: 600;
    }

    .flexbox-container input {
        max-width: 310px;
    }

    .flexbox-container .select-box select {
        max-width: 310px;
    }
}

@media (max-width: 310px) {

    .flexbox-container input {
        max-width: 280px;
    }

    .flexbox-container .select-box select {
        max-width: 280px;
    }
}

@media (max-width: 280px) {
    .flexbox-container input {
        max-width: 250px;
    }

    .flexbox-container .select-box select {
        max-width: 250px;
    }
}

@media (max-width: 250px) {
    form h2 {
        font-size: 20px;
    }

    .flexbox-container input {
        max-width: 220px;
    }

    .flexbox-container .select-box select {
        max-width: 220px;
    }

}

@media (max-width: 220px) {
    .flexbox-container input {
        max-width: 200px;
    }

    .flexbox-container .select-box select {
        max-width: 200px;
    }

    form h2 {
        font-size: 17px;
        font-weight: 600;
    }
}