* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #1c1b3b;
    --secondary-color: blue;
    --text-color: #ffffff;
}

body {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    scrollbar-width: none;
}

.hero-section {
    background-image: url(/images/vector-cartoon-illustration-school-building-green-lawn-road-trees-educalion-l_134830-1588.avif);
    background-size: cover;
    height: 700px;
    position: relative;
    margin-top: 0;
}

.hero-section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(17, 15, 15, 0.4), rgba(25, 16, 16, 0.2));
    z-index: 2;
    margin-top: 0;
    /* overflow: hidden; */
}

.hero-section::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom,
            rgba(30, 30, 30, 0.55),
            rgba(60, 60, 60, 0.35),
            rgba(20, 20, 20, 0.6));
    z-index: 2;
}

.hero-content-container {
    margin-top: 100px;
    padding-top: 50px;
    padding-left: 100px;
}

.hero-content {
    position: absolute;
    bottom: 10%;
    z-index: 4;
}

.hero-content i {
    font-size: 47px;
    color: var(--text-color);
}

.hero-content h2 {
    color: var(--text-color);
    font-size: 97px;
    font-weight: 500;
}

.header {
    background: #0b3c5d;
    padding: 25px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    transition: transform 0.4s ease;
}

.header.hide {
    transform: translateY(-100%);
}

.container {
    margin: auto;
    padding: 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #fff;
}

.logo-icon {
    width: 50px;
    height: 50px;
    background: #f9b233;
    color: #0b3c5d;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: bold;
    border-radius: 8px;
}

.logo-text h1 {
    font-size: 20px;
}

.logo-text span {
    font-size: 12px;
    color: #dcdcdc;
}

.nav ul {
    display: flex;
    gap: 25px;
    list-style-type: none;
}

.nav ul li a {
    color: #bfbfbf;
    text-decoration: none;
    font-size: 15px;
    position: relative;
}

.nav ul li:first-child a {
    color: var(--text-color);
}

.nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: #f9b233;
    transition: 0.3s;
}

.nav a:hover::after {
    width: 100%;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.menu-toggle span {
    width: 25px;
    height: 3px;
    background: #fff;
}

@media (max-width: 1200px) {
    .header {
        background: #0b3c5d;
        /* padding: 15px 0; */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        transition: transform 0.4s ease;
    }

    .header.hide {
        transform: translateY(-100%);
    }

    .container {
        max-width: 1200px;
        margin: auto;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        display: flex;
        align-items: center;
        gap: 12px;
        color: #fff;
    }

    .logo-icon {
        width: 50px;
        height: 50px;
        background: #f9b233;
        color: #0b3c5d;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 28px;
        font-weight: bold;
        border-radius: 8px;
    }

    .logo-text h1 {
        font-size: 20px;
    }

    .logo-text span {
        font-size: 12px;
        color: #dcdcdc;
    }

    .nav {
        display: flex;
        gap: 25px;
    }

    .nav a {
        color: #fff;
        text-decoration: none;
        font-size: 15px;
        position: relative;
    }

    .nav a::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 0;
        height: 2px;
        background: #f9b233;
        transition: 0.3s;
    }

    .nav a:hover::after {
        width: 100%;
    }

    .menu-toggle {
        display: none;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
    }

    .menu-toggle span {
        width: 25px;
        height: 3px;
        background: #fff;
    }

    .nav ul {
        display: flex;
        flex-direction: column;
        position: relative;
        left: 40%;
        text-align: center;
        line-height: 30px;
    }

    .menu-toggle {
        display: flex;
    }

    .nav {
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background: #0b3c5d;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px 0;
        display: none;
    }

    .nav.active {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 448px) {
    .nav ul {
        left: 30%;
        text-align: left;
    }
}

@media (max-width: 377px) {
    .container {
        padding: 0 10px;
    }
}

@media (max-width: 320px) {
    .container {
        padding: 0 10px;
    }
}

@media (max-width: 304px) {
    .header {
        padding: 35px 0;
        padding-top: 25px;
    }

    .container {
        padding: 0 10px;
    }

    .logo-icon {
        width: 40px;
        height: 40px;
    }

    .logo {
        gap: 8px;
    }

    .logo-text h1 {
        font-size: 15px;
        font-weight: 500;
    }

    .logo-text span {
        font-size: 10px;
    }
}

@media (max-width: 250px) {
    .header {
        padding: 35px 0;
    }

    .container {
        padding: 0 10px;
    }

    .logo-icon {
        width: 30px;
        height: 30px;
    }

    .logo-text h1 {
        font-size: 14px;
        line-height: 12px;
        /* margin-top: 10px; */
    }

    .logo-text span {
        font-size: 9px;
    }

    .menu-toggle span {
        width: 22px;
    }
}

@media (max-width: 222px) {
    .header {
        padding: 35px 0;
    }

    .logo-text h1 {
        font-size: 11px;
    }

    .logo-text span {
        font-size: 7px;
    }

    .menu-toggle span {
        width: 20px;
        height: 3px;
    }
}

@media (max-width: 202px) {
    .header {
        padding: 35px 0;
    }

    .container {
        padding: 0;
    }
}