.hero-section {
    background-image: url(../assets/vector-cartoon-illustration-school-building-green-lawn-road-trees-educalion-l_134830-1588.avif);
    background-size: cover;
    height: 700px;
    position: relative;
    margin-top: 0;
}

.hero-section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(17, 15, 15, 0.4), rgba(25, 16, 16, 0.2));
    z-index: 2;
    margin-top: 0;
}

.hero-section::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom,
            rgba(30, 30, 30, 0.55),
            rgba(60, 60, 60, 0.35),
            rgba(20, 20, 20, 0.6));
    z-index: 2;
}

.hero-content-container {
    margin-top: 100px;
    padding-top: 50px;
    padding-left: 100px;
}

.hero-content {
    position: absolute;
    bottom: 10%;
    z-index: 4;
}

.hero-content i {
    font-size: 47px;
    color: var(--text-color);
}

.hero-content h2 {
    color: var(--text-color);
    font-size: 97px;
    font-weight: 500;
}

@media (max-width: 576px) {

    .hero-content-container {
        padding-left: 0;
    }

    .hero-content h2 {
        font-size: 40px;
        max-width: 100%;
        width: 100%;
        text-align: center;
    }

    .hero-content i {
        font-size: 30px;
        /* text-align: center; */
        display: block;
        margin: auto;
    }
}

@media (max-width: 416px) {
    .hero-content {
        left: 5%;
    }
}

@media (max-width: 330px) {
    .hero-content h2 {
        font-size: 35px;
    }
}

@media (max-width: 250px) {
    .hero-content i {
        font-size: 28px;
    }

    .hero-content h2 {
        font-size: 30px;
        margin-top: 10px;
    }
}

@media (max-width: 202px) {
    .hero-content i {
        font-size: 25px;
    }

    .hero-content h2 {
        font-size: 20px;
    }
}